/* add font */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

.hind-madurai-regular {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* common classes */

.max-width {
    max-width: 1920px;
    margin: 0, auto;
}

.displayF {
    display: flex;
}

.common {
    max-width: 352px;
    max-height: 84px;
    padding: 16px;
    margin-top: 8px;
    border-radius: 8px;
    background-color: rgb(245, 241, 241);
    display: flex;
    justify-content: space-between;
}

/* nav bar */
.navSection {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
}

.nav-tag {
    margin-left: 50px;
    margin-top: 25px;
}


.logo_img {
    width: 50px;
    height: 50px;
}

.nav-title {
    color: rgba(0, 103, 71, 1);
    font-size: 1.2rem;
    width: 136px;
    margin-left: 5px;
    margin-top: -1px;
    height: 45px;
}

.sideNav {
    max-width: 400px;
    max-height: 50px;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 1.5rem;
}

.heartLogo {
    width: 30px;
    height: 30px;
}

.heartC {
    margin-left: 5px;
    margin-top: 5px;
    width: 12px;
    height: 24px;
    font-size: 1rem;
    font-weight: bold;
}

.heartS {
    max-width: 125px;
    max-height: 30px;
    background-color: rgba(65, 255, 107, 0.1);
    border-radius: 50px;
    padding: 12px;
    margin-right: 10px;
}

.coinC {
    margin-left: 5px;
    margin-top: 5px;
    width: 12px;
    height: 24px;
    font-size: 1rem;
    font-weight: bold;

}

.coinLogo {
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.coinS {
    max-width: 125px;
    max-height: 30px;
    background-color: rgba(65, 255, 107, 0.1);
    border-radius: 50px;
    padding: 12px;
}

.btnS {
    width: 100px;
    height: 25px;
    background-color: rgba(0, 166, 62, 1);
    border-radius: 50px;
    padding: 12px;
    margin-left: 10px;
}

.copy {

    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

/* banner  */

.bannerS {
    max-width: 1920px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 10px;
    max-height: 280px;
    background-color: rgba(1, 50, 35, 1);
}

.bannerImg {
    width: 92px;
    height: 92px;
    margin-left: 700px;
    margin-top: 24px;
}

.bannerTag {
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    font-weight: bold;
    max-height: 55px;
    max-width: 1800px;
    margin: 15px 60px 60px 480px;

}

.bannerInfo {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700px;
    max-height: 30px;
    margin-right: -10px;
    margin-left: 250px;
}

/* main */

/* Hole section */
.serviceInfo {
    max-width: 1800px;
    justify-content: space-between;
}

.main {
    background-color: rgba(219, 234, 219, 0.925);
    margin-left: -8px;
    margin-right: -8px;
}

.fa-heart {
    font-size: 30px;
}

.fa-copy,
.fa-clock {
    font-size: 16px;
}


.hotLine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    max-width: 1250px;
    max-height: auto;
    margin-right: 50px;
    margin-bottom: 40px;
}

.callLine {
    background-color: rgba(255, 255, 255, 1);
    margin-left: 30px;
    margin-top: 50px;
    max-width: 20rem;
    max-height: 300px;
    border-radius: 12px;
    padding: 32px;
    box-shadow: 200px lightgray;

}

.copyButton {
    border: 2px solid rgba(212, 214, 213, 1);
    border-radius: 8px;
    width: 180px;
    height: 40px;
}

.callButton {
    border-radius: 8px;
    border: none;
    background-color: rgba(0, 166, 62, 1);
    width: 180px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    margin-left: 10px;
}


.eIcon {
    display: flex;
    justify-content: space-between;
}

.emerLogo {
    max-width: 32px;
    max-height: 32px;
}

.elogo {
    background-color: rgba(255, 227, 226, 1);
    border-radius: 20px;
    max-width: 60px;
    max-height: 60px;
    padding: 8px 10px;
    margin-top: -10px;
}

.enum {
    font-size: 24px;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
}

.eName {
    font-size: 18px;
    font-weight: 400px;
    color: gray;
}

.eNumber {
    color: rgba(17, 17, 17, 1);
    font-weight: bolder;
    font-size: 40px;

}

.eType {
    font-size: 18px;
    font-weight: 400px;
    text-align: center;
    max-width: 84px;
    max-height: 35px;
    color: rgba(92, 92, 92, 1);
    background-color: rgba(242, 242, 242, 1);
    border-radius: 9999px;
    padding: 16px 6px;
}

/* call history */
.history {
    background-color: rgba(255, 255, 255, 1);
    width: 50rem;
    max-height: auto;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 24px;
    border-radius: 12px;

}

.hisTag {
    margin-left: 10px;
}

.clockIc {
    margin-top: 20px;
}

.callHistory {
    justify-content: space-between;
}

.btn-clear {
    background-color: rgba(0, 166, 62, 1);
    padding: 20px;
    width: 80px;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    border-radius: 50px;
    border: none;
    margin-left: 30px;

}

/* media query */

@media screen and (max-width: 624px) {
    .navSection {
        justify-content: space-between;
    }

    .max-width {
        max-width: 576px;
        max-height: auto;
    }

    .bannerS {
        max-width: 576px;
        max-height: auto;
    }

    .bannerImg {
        margin-left: 280px;
        margin-top: 24px;
        margin-left: 18rem;
    }

    .bannerTag {
        max-height: 4.5rem;
        margin: 3rem 4rem 4rem 14rem;
        max-width: 576px;
        font-size: medium;

    }

    .bannerInfo {

        max-height: 1.7rem;
        margin-left: 2rem;
        margin-bottom: 5rem;
        max-width: 576px;
        font-size: x-small;
    }

    /* Service part */

    .hotLine {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 624px;
        max-height: auto;
        margin-right: 4rem;
    }

    .serviceInfo {
        max-width: 624px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: -80px;
    }

}